.about-header{
width: 100%;
height: auto;
position: relative;
}
video{
width: 100%;
}
.nosotros{
height: 100%;
width: 100%;
position: absolute;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
color: white;
font-size: 4rem;
}
.section-frase-img{
display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: center;
}
.hij{
font-size: 2rem;
text-align: center;
}
.Imagen-plato{
width: 500px;
}
.Receita
{
text-align: center;
font-size: 2rem;
margin: 2px;
margin-bottom: 50px;
}

.Receita-titulo{
font-size: 4rem;
margin: auto;
font-family: 'Roboto';
color: #ffae00;
}
