.Conteiner-bienvenida{
width: 100%;
height: 650px;
background-image: url(../Img//wavee.svg);
background-size:cover;
margin-bottom: 25px;
background-color:#FFF1D7;
position: relative;
display: flex;
align-items: center;
}
.Container-Titulo{
width: 50%;
margin-left: 35px;
}
.cta{
    display: inline-block;
    color: #fff;
    padding: 16px 50px;
    border-radius: 30px;
    margin-top: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: #FFAE00;
}
.Container-imge-aguacate{
    position: absolute;
    right: 0;
    top: 50%;
    object-fit: cover;
    transform: translateY(-50%);
}
.aguacate{
width: 630px;
height: 630px;
display: block;
}