
.Container-button{
display:flex;
margin: 50px;
align-items: center;
justify-content: center;
padding: 12px 35px;
border-radius: 10px;
background-color: rgb(255, 182, 127);
position: absolute;
height: 23px;
top: 478px;
cursor: pointer;
}
.Container-hijo{
font-family: 'Roboto';
font-style: italic;
color: white;
font-size: 26px;
text-align: center;
}