.button{
border-radius: 23px;
padding: 10px 10px;
height: 50px;
border: none;
cursor: pointer;
width:300px;
background-color: #fb993ebb;
font-family: 'Roboto';
font-style: italic;
font-weight: 400;
font-size: 26px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
}
.button:hover{
background-color: #6DE662;
}
.button-categoria{
border-radius: 23px;
padding: 10px 10px;
height: 50px;
border: none;
cursor: pointer;
width:auto;
background-color: #fb993ebb;
font-family: 'Roboto';
font-style: italic;
font-weight: 400;
font-size:1.5rem;
line-height: 30px;
text-align: center;
color: #FFFFFF;
}
.button-categoria:hover{
background-color: #04eb2eb4;
}
@media (max-width: 700px){
.button  {
width: auto;
font-size: 1.2rem;
margin-bottom: 12px;
}
.button-categoria  {
width: auto;
font-size: 1rem;
margin-bottom: 1px;
}
}
