



/* /*Menu desplegable*/
/* .nav__containerC {
    display: flex;
    height: 10%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav__menuC {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav__itemC {
    color: #000000;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__itemC:hover {
    color: white;
}

.nav__itemC::after {
    content: "";
    display: block;
    width: 100%;
    background: white;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;

}

.nav__itemC:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
 .nav__labelC {
     display: block;
     cursor: pointer;
 }

 .nav__menuC {
     position: fixed;
     top: 80px;
     bottom: 0;
     background: #000000;
     width: 100%;
     left: 0;
     display: flex;
     justify-content: space-evenly;
     flex-direction: column;
     align-items: center;
     clip-path: circle(0 at center);
     transition: clip-path 1s ease-in-out;
 }

 .nav__itemC {
     color: white;
 }

 .nav__inputC:checked+.nav__menuC {
     clip-path: circle(100% at center);
 }

  */



.conteneder-cards{
display: flex;
}
.fondo-cards{
height: 90vh;
background: url(../Img/cards-fondo.jpg) no-repeat;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
}
.Fondo-titulo-bienvendida{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 4rem;
line-height: 75px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
}
.container-cards{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
font-family: 'Roboto';
font-size: 1.3rem;
width: 100%;
height: 100%;
padding-top: 23px;
gap: 23px;
}
.cardss{
height:100%;
width: auto;
background-color: #FFF1D7;
margin-bottom: 23px;
box-shadow: 0 25px 50px rgba(0,0,0,0.55);
transition: all .3s;
padding: 3px 3px;
}
.cardss:hover{
transform: scale(0.9);
background-color: #F7D7B0;
}
.imgen{
width: auto;
height: 200px;
left: 0;
right: 0;
margin: auto;
}
.imagen{
width: 300px;
height: 100%;
border-radius: 10px;
}
.informacion{
display: flex;
justify-content: center;
}
.Nombre-receta{
padding: 5px;
text-align: center;
font-style: normal;
font-weight: 700;
line-height: 42px;
}
.hr{
width: 250px;
color: #959595;
}
.cards-button-precio{
display: flex;
align-items: center;
justify-content: space-around;
}
.precio{
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
line-height: 38px;
text-align: center;
}
.Button{
padding: 10px;
}
.description-cards{
display: flex;
justify-content: center;
}
.ver{
width:100px;
border: none;
border-radius: 4px;
height: 40px;
color: white;
background-color: #FFAE00;
cursor: pointer;
}
.ver:hover{
background-color: rgb(96, 221, 46);
}
.cards:hover{
background-color:#F7D7B0 ;
}
.precio{
text-align: center;
color: #BE8952;
}
.Metodo_de_pago{
height: 300px;
} 

@media screen and (min-width: 320px) and (max-width: 768px) {
.fondo-cards{
height: 50vh;
}
.Fondo-titulo-bienvendida{
font-size: 1.5rem;
}
.cards{
height:100%;
margin: 12px 12px;
padding: 3px 3px;
}
}



