.Cards-container{
width: 300px;
overflow: hidden;
box-shadow: 0px 0px 15px -5px;
margin: 23px;
height: auto;
background-color: #fdfdfd;
text-align: center;
color: #000000;
transition: 0.3s;
animation: ease-in;
}
.Vistas{
background-color: #FFAE00;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
width:100%;
height: 60px;
}
.date{
color: #BE8952;
font-size: 1rem;
}
.Cards-container:hover{
transform: scale(1.1);
box-shadow: 0px 0px 15px 0px;
}
.Container-cards{
background-color: rgba(225, 225, 225, 0.023);
}
.Image-container{
overflow: hidden;
height: auto;
}
.Imagen{
width: 100%;
height: 200px;
}
.Cards-content
{
 margin: 0;
margin-top: 0.5rem;
}
.Container-padres{
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap:  wrap;
height: 100%;
padding: 23px;
width: 100%;
}
.Cards-parrafo{
font-size: 1.4rem;
margin-bottom: 23px;
}
.direccion-recetas{
display: flex;
justify-content:center ;
margin-bottom: 15px;
}
.direccion-a{
font-size: 1.7rem;
width: 250px;
text-align: center;
background-color: #fb993ee5;
padding: 10px 10px ;
border-radius: 15px;
cursor: pointer;
color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
 .Cards-container{
width: 290px;
}
.Cards-parrafo{
font-size: 1.5rem;
}
}
@media screen and  (max-width: 767px) {
 .Cards-container{
width: 260px;
}
.Cards-parrafo{
font-size: 1rem;
}
.Image-container{
height: 200px;
}
}
