
.Categoria-1-info{
display: flex;
flex-wrap: wrap; 
background-color: #f7d7b090;   
gap: 50px;    
text-align: center;
}
.Categoria-img{
width: 594px;
height: 598px;
margin: 20px 0px 0px -70px;
flex: none;
order: 0;
filter: drop-shadow(-4px 4px 3px rgba(0, 0, 0, 0.4));
flex-grow: 0;
}
 .plato{
top: 0;
left: 10%;
right: 12%;
margin-left: 100px;
width: 450px;
transition: 1s linear;
background-color: #221f1f;
height: 600px;
margin-bottom: 50px;
}


.informacion-categoria{
margin: 0 auto;
flex-direction: column;
text-align: justify;
width: 50%;
display: flex;
justify-content: center;
align-items: center;
}


/***********************************/
.cards-categoria{
display: flex;
flex-wrap: wrap;
gap: 23px;
margin-bottom: 20px;
justify-content:space-evenly;
padding: 25px;
filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
}
.card {
    width: 300px;
    height: auto;
    border: 1px solid #ccc;
    background-color: #FFF1D7;
    padding: 20px;
    text-align: center;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.card .Img-categoria {
    width: 40%;
    height: auto;
margin: 0 auto;
}
.card hr {
    border: 1px solid #000000;
}
.Description-categoria {
    font-size: 1.2rem;
}
