.Header{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;
font-family: 'Roboto';
font-weight: 600;
background-color: #ffae00;
}
 .Container-label ::after{
content: " ";
position:absolute;
bottom: 0;
left: 0;
height: 3px;
width: 100%;
transform: scaleX(0);
background-color:#BE8952;
border-radius:10px;
transition: transform 0.25s ease-out;
}
.Header .Container-label :hover::after{
transform: scaleX(1);
transform-origin: bottom left;
}
.Container-label  :hover{
color:  #ffffff;
}
.Logo{
width: 90px;
height: 110px;
left: 100px;
top: 0px;
}
@media (max-width: 700px){
  header   {
flex-direction: column;
}
}
.Search-input{
  border: 2px solid transparent;
  border-radius: 23px;
  padding: 15px 15px 15px 35px;
  background-color: #fafafab6;
  outline: none;
  width: 100%;
 transition: .3s ease;
}

.Search-input:focus, .Search-input:hover {
 outline: none;
 border-color: rgba(0, 0, 0, 0.106);
 background-color: #fff;
 box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.145);
}
.icono{
  color: #fbb215;
   position: absolute;
   width: 20px;
   height: 20px;
   left: 12px;
   top: 50%;
   transform: translateY(-50%);

}
.Search{
margin-top: 15px;
 position: relative;
 width: 400px;
margin-bottom: 23px;

}
.nav{
    background: #fbb215;
    height: 80px;
    color: #fff;
width: 100%;
}

.nav__container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    font-size: 1.5em;
    font-weight: 900;
}

.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav__item{
    color: #000000;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.nav__item:hover{
color: white;
}

.nav__item::after{
    content: "";
    display: block;
    width: 100%;
background: white;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}

.nav__item:hover{
    --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.nav__label, .nav__input{
    display: none;
}
@media (max-width: 768px){
    .nav__label{
        display: block;
        cursor: pointer;
    }
    .nav__menu{
        position: fixed;
        top: 80px;
        bottom: 0;
        background: #000000;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }
.nav__item{
color: white;
}
    .nav__input:checked + .nav__menu{
        clip-path: circle(100% at center);
    }
    
}



