
.Container-nav{
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-family: 'Roboto';
font-style: normal;
font-size:50px;
height: 90vh;
width: 100%;
color: #ffae00 ;
border: 1px none;
background: url(../Img/fondo-imge.jpg) no-repeat;
background-size:cover;
object-fit: cover;
}
h1{
color: #000000;
font-size: 4rem;
}

@media (max-width: 700px){
.titulo-nav {
font-size: 4rem;
width: auto;
}
}



