
.Container-nav{
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-family: 'Roboto';
font-style: normal;
font-size:50px;
height: 80vh;
color: #000000 ;
border: 1px none;
background: url(../Img/Verdura.jpg) no-repeat;
background-size: cover;
text-shadow: 10px 15px 10px rgba(255, 162, 0, 0.83);
}





