.Ilustracion-infor{
width: 100%;
height: 100%;
padding-top: 14px;
object-fit: cover;
}
@media screen and (min-width:320px)  and  (max-width: 767px) {
.Ilustracion-infor{
width: 80%;
height: 80%;
padding-top: 1px;
object-fit: cover;
}
}
