.Container-informacion{
display: flex;
text-align: center;
align-items: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
line-height: 36px;
flex-wrap: wrap;
justify-content: space-around;
}
.Container-titulo{
width: 50%;
}
.Parrafo1{
font-size: 2rem;
}
.Parrafo2{
font-size: 1rem;
line-height: 24px;
}
.svg{
height: auto;
width: auto;
}
@media screen and (min-width:320px)  and  (max-width: 767px) {
.Parrafo1{
font-size: 1.5rem;
text-align: justify;
}
.Parrafo2{
font-size: 1rem;
}
.Receitaa{
font-size: 2rem;
margin-top: 10px;
}
.Container-titulo{
width: auto;
margin: 10px;
}
}
