.Seccion-home{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;

}
.Container-parrafoo{
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
line-height: 36px;
text-align: center;
font-size: 1.6rem;
width: 50%;
text-align: center;
}
.Ilustracion3{
height: 400px;
width: 400px;
}
