.Slider-frame{
width: 100%;
height: 650px;
margin: 0 auto 0;
overflow: hidden;
}
.Slider-frame ul{
display: flex;
width: 400%;
padding: 0;
margin: 0;
animation: cambio 16s infinite alternate linear;
}
.Slider-frame li{
list-style: none;
width: 100%;
}
.Slider-frame .img{
width: 100%;
height: 650px;
}
@keyframes cambio {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

  25%{margin-left: -100%;}
    45%{margin-left: -100%;}

50%{margin-left: -200%;}
    70%{margin-left: -200%;}

  75%{margin-left: -300%;}
    100%{margin-left: -300%;}

}
