.Slider-frame{
width: 99%;
height: 550px;
margin:  9px auto;
overflow: hidden;
}
.Slider-frame ul{
display: flex;
width: 400%;
padding: 0;
margin: 0;
animation: cambio 16s infinite alternate linear;
}
.Slider-frame li{
list-style: none;
width: 100%;
}
.hola{
font-size: 2.6rem;
position: absolute;
width: 100%;
text-align: center;
color: rgb(255, 255, 255);
top: 35%;
}
.titulo-slider{
text-transform: uppercase;
font-family: 'Roboto';
font-style: normal;
line-height: 75px;  
}
@media (max-width: 700px){
.hola  {
font-size: 1.6rem;
margin: 30% auto;
text-align: center;
}
}
.Slider-frame .img{
width: 100%;
height: 500px;
}
@keyframes cambio {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

  25%{margin-left: -100%;}
    45%{margin-left: -100%;}

50%{margin-left: -200%;}
    70%{margin-left: -200%;}

  75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
